# Python
__pycache__/
*.pyc
venv/

# Node
node_modules/
dist/

# Vector DB + data (do not push)
backend/data/vectorstore/
backend/data/ebooks/
backend/data/lora_adapters/

# Env files
.env

# OS
.DS_Store
Thumbs.db
