fastapi
uvicorn
chromadb
sentence-transformers
transformers
peft
torch
pypdf
langchain
langchain-community
python-multipart
accelerate
datasets
bitsandbytes
scipy
langchain-text-splitters
langchain-huggingface
beautifulsoup4
requests
langchain-chroma
langchain-core
google-generativeai
python-dotenv
neo4j
mysql-connector-python
